<!-- Heading -->
<div class="row card mb-4 wow fadeIn">

  <!--Card content-->
  <div class="card-body d-sm-flex justify-content-between">

    <h4 class="mb-2 mb-sm-0 pt-1">
      Mapeamento Direto
    </h4>
    <p class="mb-2 mb-sm-0 pt-1">Grupo: {{details.id}} {{details.description}}</p>

  </div>

</div>

<!--Grid row-->
<div class="row wow fadeIn mt-5">

  <!--Grid column-->
  <div class="col-md-12 mb-12 card">

    <div class="col-md-12 mb-4">

      <div class="form-group">
        <br/>
        <h4 class="mb-2 mb-sm-0 pt-1"><strong>Log</strong></h4>
        <br/>
        <textarea style="background-color: #39393b;color: #00c857"
                  readonly class="form-control" id="textareaLog"
                  rows="5">
          {{messageLog}}
        </textarea>
      </div>

      <app-dashboard1 *ngIf="mostrarGrafico" [hits]="registerHits" [miss]="registerMiss"></app-dashboard1>

    </div>
  </div>
</div>