<panel header="Sobre" color="primary-color">
  <h4 class="text-left left">Desenvolvido Por </h4>
  <br/>
  <ul class="list-group text-left left list-group-flush">
    <li class="list-group-item">Guilherme Gomes Noronha</li>
    <li class="list-group-item">Daniel Henrique Silva</li>
    <li class="list-group-item">Mateus Nogueira</li>
  </ul>

  <br>
  <h5 class="text-left left">Como trabalho para a matéria de Arquitetura de Computadores II,
    da turma do 5º Período de Computação na UEMG Divinópolis - Noturno</h5>



</panel>