    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">
  
                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="https://github.com/guilnorth/arquitetura-cache" target="_blank">
                    <strong class="blue-text">Computação</strong>
                </a>
  
                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
  
                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" routerLinkActive="active" >
                            <a class="nav-link waves-effect" routerLink="/config">Início
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link waves-effect"
                               routerLink="/sobre" >
                                Sobre
                            </a>
                        </li>

                    </ul>
  
                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">


                        <li class="nav-item">
                            <a href="https://github.com/guilnorth/arquitetura-cache" class="nav-link border border-light rounded waves-effect"
                                target="_blank">
                                <i class="fa fa-github mr-2"></i>Fork on GitHub
                            </a>
                        </li>

                    </ul>
  
                </div>
  
            </div>
        </nav>
        <!-- Navbar -->
  
        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">
  
            <a class="logo-wrapper waves-effect">
                <img src="assets/img/uemg.jpg" class="img-fluid" alt="">
            </a>
  
            <div class="list-group list-group-flush">

                <a routerLink="/config"  routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-pie-chart mr-3"></i>Início
                </a>
                <a routerLink="/sobre" routerLinkActive="active"   class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-exclamation mr-3"></i>Sobre</a>

            </div>
  
        </div>
        <!-- Sidebar -->
  
    </header>
    <!--Main Navigation-->


